Package: com.ctf.royal.iaphook
Name: RoyalIAPHook
Version: 1.0.6
Architecture: iphoneos-arm64
Depends: mobilesubstrate | ellekit
Description: Royal Match 37314 floating menu Free-IAP hook for rootless jailbreak
Maintainer: 593348207-glitch <593348207@qq.com>
Author: 593348207-glitch
Section: Tweaks
